<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491302861643-qs2rd5j7crl6vpgou0a6h4kn5krcts5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491302861643-qs2rd5j7crl6vpgou0a6h4kn5krcts5j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>491302861643-lo7c41dk6slivut192lga24qstv9sj0o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-jV3K1qO4rkQLCoJRF6m4tc8Srq8KBEI</string>
	<key>GCM_SENDER_ID</key>
	<string>491302861643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Simerplay.proyect</string>
	<key>PROJECT_ID</key>
	<string>proyecto-curricular</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-curricular.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491302861643:ios:9eab5d730ce78ef97306ce</string>
</dict>
</plist>